<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
    {% include head-custom.html %}
{% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <nav class="site-nav">
          <a href="{{ '/' | relative_url }}" class="nav-tab {% if page.url == '/' %}active{% endif %}">Home</a>
          <a href="{{ '/instructions' | relative_url }}" class="nav-tab {% if page.url == '/instructions' %}active{% endif %}">Instructions</a>
          <a href="{{ '/news' | relative_url }}" class="nav-tab {% if page.url == '/news' %}active{% endif %}">News</a>
          <a href="{{ '/shop' | relative_url }}" class="nav-tab {% if page.url == '/shop' %}active{% endif %}">Shop</a>
        </nav>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>